# Mac
.DS_Store

# IntelliJ
.idea

# Zed
.zed
.rules

# Python
*.pyc
__pycache__
build/
dist/
.venv/
*.egg-info
virtualenv
.venv

# VSCode
.vscode

# MirrorD
.mirrord

# SOPS encryption
.sops.yaml

.venv